= simple_form_for @person do |f|
	= f.input :name
	= f.input :portrait
	=# f.collection_check_boxes :remove_portrait, [[true, 'Yes'] ,[false, 'No']], :first, :last
	= f.input :born, input_html: {class: "datepicker"}, as: :string
	= f.input :died, input_html: {class: "datepicker"}, as: :string
	= f.input :description
	= f.input :opened if policy(@person).own?
	= f.submit