%h3= "People"

= paginate @people
%table.table.table-striped
	%tbody
		%th= "ID"
		%th= "Name"
		%th
		- @people.each do |person|
			%tr
				%td= person.id
				%td= link_to person.name, person_path(person)
				%td
					= link_to "Edit", edit_person_path(person), class: "btn btn-primary"
					= link_to "Delete", person_path(person), method: :delete, class: "btn btn-danger"		
= paginate @people						