.user_score
	- if current_user
		= select_tag "score", options_for_select(1..10, @score.try(:score)), prompt: "Rate!"
		.id.hidden{data: {id: @person.id.to_s}}
	- else
		%p= "Log in to rate this person"

%h3= @person.name
= image_tag @person.portrait_url

%p= "Born: #{@person.born}"
%p= "Died: #{@person.died}"
%p= "Description: #{@person.description}"

%h2= "Discussions"
- if current_user
	= link_to "Start new discussion", new_person_topic_path(@person), class: "btn btn-default"
- else
	= "Log in to start a discussion"

%table.table
	%th
	%th
	%th
	- @person.topics.each do |topic|
		%tr
			%td= link_to topic.title, person_topic_path(@person, topic)
			%td
			%td
				= link_to "Edit", edit_person_topic_path(@person, topic), class: "btn btn-default"
				= link_to "Delete", person_topic_path(@person, topic), method: :delete, class: "btn btn-danger"