.user_score
	- if current_user
		= select_tag "score", options_for_select(1..10, @score.try(:score)), prompt: "Rate a movie"
		.id.hidden{data: {id: @movie.id.to_s}}
	- else
		%p= "Log in to rate this movie"

%h4= @movie.title
= image_tag @movie.poster_url

%p= "Production: #{@movie.production}"
%p= "Release date: #{@movie.release_date}"
%p= "Description: #{@movie.description}"
.review-box
	- if !@movie.reviews.empty?
		%p= link_to "#{@movie.reviews.last.title} (latest review)", movie_review_path(@movie,@movie.reviews.last)
		%p= link_to "All reviews", movie_reviews_path(@movie)
	- else
		%p= "No reviews for this movie."
	%p= link_to "Add new review", new_movie_review_path(@movie)	if policy(Review).new?

%p= link_to "Edit this movie", edit_movie_path(@movie) if policy(@movie).edit?
%p= link_to "Delete this movie", movie_path(@movie), method: :delete if policy(@movie).destroy?

%h3= "Actors" if @movie.actors?
- @movie.actors.each do |actor|
	.actor-box
		.actor
			= link_to actor.person.name, person_path(actor.person)
		.role	
			= actor.role_name
			

%h3= "Directors" if @movie.directors?
- @movie.directors.each do |director|
	%p= link_to director.person.name, director.person	
	
%h3= "Producers" if @movie.producers?
- @movie.producers.each do |producer|
	%p= link_to producer.person.name, producer.person

%h3= "Screenwriters" if @movie.screenwriters?
- @movie.screenwriters.each do |screenwriter|
	%p= link_to screenwriter.person.name, screenwriter.person

%h2= "Discussions"
= link_to "Start a new discussion", new_movie_topic_path(@movie), class: "btn btn-default"
%table.table
	%th
	%th
	%th
	- @movie.topics.each do |topic|
		%tr
			%td= link_to topic.title, movie_topic_path(@movie, topic)
			%td
			%td
				= link_to "Edit", edit_movie_topic_path(@movie, topic), class: "btn btn-default"
				= link_to "Delete", movie_topic_path(@movie, topic), method: :delete, class: "btn btn-danger"