.user_score
	- if current_user
		= select_tag "score", options_for_select(1..10, @score.try(:score)), prompt: "Rate a movie"
		.id.hidden{data: {id: @movie.id.to_s}}
	- else
		%p= "Log in to rate this movie"

%h4= @movie.title

%p= "Production: #{@movie.production}"
%p= "Release date: #{@movie.release_date}"
%p= "Description: #{@movie.description}"

= link_to "Delete this movie", movie_path(@movie), method: :delete

%h3= "Actors" if @movie.actors?
- @movie.actors.each do |actor|
	.actor-box
		.actor
			= link_to actor.person.name, person_path(actor.person)
		.role	
			= actor.role_name
			

%h3= "Directors" if @movie.directors?
- @movie.directors.each do |director|
	%p= director.person.name	
	
%h3= "Producers" if @movie.producers?
- @movie.producers.each do |producer|
	%p= producer.person.name

%h3= "Screenwriters" if @movie.screenwriters?
- @movie.screenwriters.each do |screenwriter|
	%p= screenwriter.person.name	

%h2= "Discussions"
= link_to "Start a new discussion", new_movie_topic_path(@movie), class: "btn btn-default"
%table.table
	%th
	%th
	%th
	- @movie.topics.each do |topic|
		%tr
			%td= link_to topic.title, movie_topic_path(@movie, topic)
			%td
			%td
				= link_to "Edit", edit_movie_topic_path(@movie, topic), class: "btn btn-default"
				= link_to "Delete", movie_topic_path(@movie, topic), method: :delete, class: "btn btn-danger"