%h4= @topic.title
%p= @topic.content

- @topic.posts.where('content is not null').each do |post|
	.post-box
		%p= post.content

= simple_form_for [@resource, @topic, @post] do |f|
	= f.input :content, label: false, placeholder: "Post content"
	= f.submit