= simple_form_for current_user do |f|
	= f.input :nickname
	= f.input :avatar
	= f.input :banned if policy(User).admin?
	= f.input :admin if policy(User).admin?
	= f.input :remove_avatar, label: "Remove avatar", as: :boolean
	= f.submit