= will_paginate @records

- @records.each do |record|
	.search-box-result
		%h3= link_to display_search_results_title(record), search_result_path(record)
		%p= image_tag display_image(record) if display_image(record)
		-if record.is_a?(Person)
			.record-data
				.person-data
					%p= "Born: #{record.born}" 
					%p= "Died: #{record.died}"
					.description
						%p= "Description: #{record.description ? record.description.truncate(82) : nil}"
		-elsif record.is_a?(Movie)
			.record-data
				%p= "Production: #{record.production}"
				%p= "Release date: #{record.release_date}"
				.description
					%p= "Description: #{record.description ? record.description.truncate(82) : nil}"

= will_paginate @records	