= simple_form_for @character do |f|
	= f.input :name
	= f.input :description
	.movies
		= f.simple_fields_for :movie_characters do |fmc|
			.movie-select
				=# fmc.association :movie, value_method: :id, label_method: :title
				=# fmc.autocomplete_field :movie_title, autocomplete_movie_title_characters_path,'data-delimiter' => ',', :multiple => true
				.search_input
					= f.input :search_input
				%icon.minus
					="minus"
	%icon.plus
		= "Plus"	
	= f.submit


