!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title FilmNetwork
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body
		.main-page-container
			= link_to "Home", root_path		
			= link_to "Movies", movies_path
			= link_to "People", people_path
			- if user_signed_in?
				= current_user.email
				= link_to "Users", users_path
				= link_to "My account", user_path(current_user)
				= link_to "Log out", destroy_user_session_path, method: :delete 
			- else
				= link_to "Log in", new_user_session_path
				= link_to "Sign up", new_user_registration_path
			%h1.logo= "Film Network"	
			.search-bar
				= render "layouts/search_bar"
			= render 'layouts/flash_messages'
			= yield
